In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
frames = [train, test]
data = pd.concat(frames)
data.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,SaleType,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,856,854,0,NaN,3,1Fam,TA,No,706.0,0.0,...,WD,0,Pave,8,856.0,AllPub,0,2003,2003,2008
1,1262,0,0,NaN,3,1Fam,TA,Gd,978.0,0.0,...,WD,0,Pave,6,1262.0,AllPub,298,1976,1976,2007
2,920,866,0,NaN,3,1Fam,TA,Mn,486.0,0.0,...,WD,0,Pave,6,920.0,AllPub,0,2001,2002,2008
3,961,756,0,NaN,3,1Fam,Gd,No,216.0,0.0,...,WD,0,Pave,7,756.0,AllPub,0,1915,1970,2006
4,1145,1053,0,NaN,4,1Fam,TA,Av,655.0,0.0,...,WD,0,Pave,9,1145.0,AllPub,192,2000,2000,2008

There are many columns in this data set resulting in a lot of information. The list of information provides major detail such as what type of information each column contains. This valuable information helps us when working with the data, but telling what code will be needed to make the data useful in determining housing price.

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
3SsnPorch        2919 non-null int64
Alley            198 non-null object
BedroomAbvGr     2919 non-null int64
BldgType         2919 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinSF2       2918 non-null float64
BsmtFinType1     2840 non-null object
BsmtFinType2     2839 non-null object
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
BsmtQual         2838 non-null object
BsmtUnfSF        2918 non-null float64
CentralAir       2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
Electrical       2918 non-null object
EnclosedPorch    2919 non-null int64
ExterCond        2919 non-null object
ExterQual        2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
Fence            571 non-null object
FireplaceQu      1499 non-null object
Fireplaces       2919 non-null int64
Foundation       2919 non-null object
FullBath         2919 non-null int64
Functional       2917 non-null object
GarageArea       2918 non-null float64
GarageCars       2918 non-null float64
GarageCond       2760 non-null object
GarageFinish     2760 non-null object
GarageQual       2760 non-null object
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GrLivArea        2919 non-null int64
HalfBath         2919 non-null int64
Heating          2919 non-null object
HeatingQC        2919 non-null object
HouseStyle       2919 non-null object
Id               2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
LandContour      2919 non-null object
LandSlope        2919 non-null object
LotArea          2919 non-null int64
LotConfig        2919 non-null object
LotFrontage      2433 non-null float64
LotShape         2919 non-null object
LowQualFinSF     2919 non-null int64
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
MasVnrArea       2896 non-null float64
MasVnrType       2895 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
Neighborhood     2919 non-null object
OpenPorchSF      2919 non-null int64
OverallCond      2919 non-null int64
OverallQual      2919 non-null int64
PavedDrive       2919 non-null object
PoolArea         2919 non-null int64
PoolQC           10 non-null object
RoofMatl         2919 non-null object
RoofStyle        2919 non-null object
SaleCondition    2919 non-null object
SalePrice        1460 non-null float64
SaleType         2918 non-null object
ScreenPorch      2919 non-null int64
Street           2919 non-null object
TotRmsAbvGrd     2919 non-null int64
TotalBsmtSF      2918 non-null float64
Utilities        2917 non-null object
WoodDeckSF       2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
YrSold           2919 non-null int64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

In [3]:
#data['YearBuilt'] = data['YearBuilt'].apply(lambda x: 2017 - x)
data['YearRemodAdd'] = data['YearRemodAdd'].apply(lambda x: 2017 - x)

In [4]:
#pd.value_counts(data['Alley'].values, sort=True)
#data = data.drop('Alley')

In [5]:
pd.value_counts(data['BldgType'].values, sort=True)

1Fam      2425
TwnhsE     227
Duplex     109
Twnhs       96
2fmCon      62
dtype: int64

In [6]:
pd.value_counts(data['BsmtFinType1'].values, sort=True)

Unf    851
GLQ    849
ALQ    429
Rec    288
BLQ    269
LwQ    154
dtype: int64

In [7]:
pd.value_counts(data['BsmtCond'].values, sort=True)

TA    2606
Gd     122
Fa     104
Po       5
dtype: int64

In [8]:
#data= data.drop('BsmtCond')
data = data.drop('BsmtExposure')
data = data.drop('BsmtQual')

In [9]:
pd.value_counts(data['CentralAir'].values, sort=True)
data['CentralAir'] = pd.get_dummies(data['CentralAir'], drop_first=True)

In [10]:
pd.value_counts(data['Condition1'].values, sort=True)

Norm      2511
Feedr      164
Artery      92
RRAn        50
PosN        39
RRAe        28
PosA        20
RRNn         9
RRNe         6
dtype: int64

In [11]:
pd.value_counts(data['Electrical'].values, sort=True)

SBrkr    2671
FuseA     188
FuseF      50
FuseP       8
Mix         1
dtype: int64

In [12]:
pd.value_counts(data['ExterCond'].values, sort=True)
data = data.drop('ExterQual')

In [13]:
pd.value_counts(data['Exterior1st'])

VinylSd    1025
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
Name: Exterior1st, dtype: int64

In [14]:
pd.value_counts(data['Fence'].values, sort=True)
#data = data.drop('Fence')

MnPrv    329
GdPrv    118
GdWo     112
MnWw      12
dtype: int64

In [15]:
pd.value_counts(data['Functional'].values, sort=True)

Typ     2717
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
dtype: int64

In [16]:
pd.value_counts(data['GarageCond'].values, sort=True)
data['GarageCond'] = data['GarageCond'].fillna('No')
data['GarageCond'] = data['GarageCond'].apply(lambda x: x.replace(x, 'Yes') if x != 'No' else x)
pd.value_counts(data['GarageCond'].values, sort=True)

Yes    2760
No      159
dtype: int64

In [17]:
data= data.drop('GarageFinish')
#data= data.drop('GarageQual')

In [18]:
pd.value_counts(data['Heating'].values, sort=True)
#data['HeatingQC'] = pd.get_dummies(data['HeatingQC'], )

GasA     2874
GasW       27
Grav        9
Wall        6
OthW        2
Floor       1
dtype: int64

In [19]:
pd.value_counts(data['KitchenQual'].values, sort=False)

Gd    1151
Ex     205
Fa      70
TA    1492
dtype: int64

In [20]:
pd.value_counts(data['LandContour'].values, sort=True)

Lvl    2622
HLS     120
Bnk     117
Low      60
dtype: int64

In [21]:
#pd.value_counts(data['PavedDrive'].values, sort=True)
#data['PavedDrive'] = data['PavedDrive'].apply(lambda x: x.replace(x, 'no') if x != 'Y' else x)
#pd.value_counts(data['PavedDrive'].values, sort=True)

In [22]:
pd.value_counts(data['PoolQC'].values, sort=True)
data['PoolQC']= data['PoolQC'].fillna('No')
data['PoolQC'] = data['PoolQC'].apply(lambda x: x.replace(x, 'Yes') if x == 'Ex' or  x == 'Gd' or x == 'Fa' else x)
pd.value_counts(data['PoolQC'].values, sort=True)

No     2909
Yes      10
dtype: int64

In [23]:
pd.value_counts(data['RoofMatl'].values, sort=True)

CompShg    2876
Tar&Grv      23
WdShake       9
WdShngl       7
Membran       1
ClyTile       1
Metal         1
Roll          1
dtype: int64

In [24]:
pd.value_counts(data['SaleCondition'].values, sort=True)

Normal     2402
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
dtype: int64

In [25]:
pd.value_counts(data['Utilities'].values, sort=True)

AllPub    2916
NoSeWa       1
dtype: int64

In [26]:
data = pd.get_dummies(data, drop_first=True)

In [27]:
data= data.drop('Functional')
data['BedroomAbvGr'] = pow(data['BedroomAbvGr'], 2)
data['BsmtFullBath'] = pow(data['BsmtFullBath'], 2)
data['BsmtHalfBath'] = pow(data['BsmtHalfBath'], 2)
data['FullBath'] = pow(data['FullBath'], 2)
data['Fireplaces'] = pow(data['Fireplaces'], 2)
data['GarageCars'] = pow(data['GarageCars'], 2)
#data['BsmtFinSF2'] = pow(data['BsmtFinSF1'], 2)
#data['CentralAir'] = pow(data['CentralAir'], 2)
data['SaleType_New'] = pow(data['SaleType_New'], 2)
#data = data.drop('OverallCond')

In [28]:
data.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,CentralAir,...,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,Street_Pave,Utilities_NoSeWa
0,856,854,0,9,706.0,0.0,1.0,0.0,150.0,1,...,0,0,0,0,0,0,0,1,1,0
1,1262,0,0,9,978.0,0.0,0.0,1.0,284.0,1,...,0,0,0,0,0,0,0,1,1,0
2,920,866,0,9,486.0,0.0,1.0,0.0,434.0,1,...,0,0,0,0,0,0,0,1,1,0
3,961,756,0,9,216.0,0.0,1.0,0.0,540.0,1,...,0,0,0,0,0,0,0,1,1,0
4,1145,1053,0,16,655.0,0.0,1.0,0.0,490.0,1,...,0,0,0,0,0,0,0,1,1,0

In [29]:
train = data.iloc[:1460]
test = data.iloc[1460:]

In [30]:
train.info()
train = train.fillna(0)
train.to_csv('train data.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Columns: 243 entries, 1stFlrSF to Utilities_NoSeWa
dtypes: float64(12), int64(26), uint8(205)
memory usage: 737.1 KB

In [31]:
test.info()
test=test.fillna(0)
test.to_csv('test_data.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1459 entries, 0 to 1458
Columns: 243 entries, 1stFlrSF to Utilities_NoSeWa
dtypes: float64(12), int64(26), uint8(205)
memory usage: 736.6 KB